<%- include('views/header'); -%>

<div class="mainContent">
  <div class="search">
    <h1>Inicia tu búsqueda</h1>
    <form class="" action="index.ejs" method="post">
      <input type="text" name="searchInput" value="">
      <button type="submit" name="buscarBtn">Buscar</button>
    </form>
  </div>
</div>

<%- include('views/footer'); -%>
