/* The CSS file is organized from top to bottom
elemnts in the HTML file. */

:root {
  --h1Font: 'Caveat', cursive;
  --nameFont: "Rajdhani", sans-serif;
  --cmcLinkFont: "Staatliches", cursive;
  --main-color: #30AADD;
  --sec-color: #2666CF;
}

body{
  align-items: center;
}

/*Here the rest of CSS*/
div.mainContent {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: auto;
  margin: 2vw;
  align-items: center;
  justify-items: center;
  padding: 1vw;
  background-color: yellow;
}

div.search {
  background-color: blue;
  grid-column:2/3;
  width: 80%;
  margin: 1vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.search form {
  background-color: pink;
  margin: 1vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.search form input, button {
  margin: 1vw;
  padding: 1vw;
}

/*Footer*/
footer {
  text-align: center;
  margin: -0.5vw auto auto auto;
  background-color: var(--sec-color);
  padding: 2vw;
}

.myName {
  font-family: var(--nameFont);
  margin: 1vw auto 1vw auto;
  color: #F2F2F2;
}

.cmcLink {
  text-decoration: none;
  font-size: 16px;
  font-family: var(--cmcLinkFont);
  color: #3DBBDD;
}

/* RESPONSIVE */
/* Extra small Phones*/
@media screen and (min-width: 768px) {
}

/* Small Tablets */
@media screen and (min-width: 992px) {
}

/* Medium Desktops */
@media screen and (min-width: 1200px) {
}
